h2.brand {
    margin: 15px 0px 0px;

    img, span {
        float: left;
    }

    img {
        width: 40px; height: 40px;
        border: solid 1px white;
        border-radius:8px;
        border-radius:8px;
        background: $brand-primary;
        margin: 0px 9px 0px 0;
    }
}
.navbar {
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    background: transparentize($body-bg,.7);
}
.nav li a { border: 1px solid transparent; padding: 22.5px 20px 22.5px; font-size: 1.7rem }
.nav li.active a { background: $brand-primary; color: white; border: 1px solid white; span.glyphicon { margin-right: 5px;} }

.nav {
    margin: 0px;

    li a {
        border-top-width: 0px !important;
        border-bottom-width: 0px !important;
    }
}