/*
#################################################
App: Blueprint, Author: Marcel Hadorn (@marc3llo)
#################################################
*/
//$icon-font-path: "/assets/fonts/bootstrap";

// Uncomment to remove blueprint style variables
@import 'partials/_variables';

// Twitter Bootstrap & Blueprint Base
@import 'bootstrap/bootstrap';
@import 'blueprint';

// Uncomment to remove blueprint style
@import 'blueprint-style';

body {
    padding-top: 0px;
    padding-bottom: 20px;
}

.jumbotron {
    border: 1px solid white;
}

h2.brand {
    margin: 6px 0px 0px;

    img, span {
        float: left;
    }

    img {
        background: $brand-primary;
        margin: -1px 12px 0px 0;
    }
}

.teaser {
    border-bottom: 1px solid white;
}

p.lead span {
    font-size: .8em !important;
    
    a {
        color: white;
        border-bottom: 2px solid rgba(255,255,255,.5);
        cursor: pointer;

        &:hover {
            text-decoration: none;
            border-bottom: 2px solid rgba(255,255,255,1);
        }
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.navbar {
    margin: 0;
    background-color: #2c94c9;
}

.nav {
    margin: 0px;

    li a {
        border-top-width: 0px !important;
        border-bottom-width: 0px !important;
    }
}

footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
header h2 {
    line-height: 40px;
}

/* Custom page footer */
footer {
    padding-top: 19px;
    border-top: 1px solid #e5e5e5;
}

.carousel {
    height: 600px;

    @media screen and (max-width: 1024px) {
        height: 500px
    }

    @media screen and (max-width: 320px) {
        height: 400px
    }
}

.carousel-inner {

  > .item {
        @include transition(1s ease-in-out left);
    }

    .thumb {
        margin-top: 20px;
        margin-bottom: 10px;
        background-size: cover;
        height: 550px;
        
        @media screen and (max-width: 1024px) {
            height: 450px
        }

        @media screen and (max-width: 320px) {
            height: 300px
        }

        width: 100%;
        background-color: $brand-info;
        border: 1px solid darken($brand-info, 5%);
        @include box-shadow(0 2px 4px 0 rgba(0,0,0,.1));
        
        .glyphicon {
            position: relative;
            top: 50% !important; left: 50%;
            margin: -38px 0 0 -35px;

            &:before {
                font-size: 5em;
                color: white;
            }
        }

        p {
            position: absolute;
            top: 30px;
            margin-left: 15px;
        }
    }

    .item:nth-child(2) {
        .thumb {
            height: 450px;
            width: 80%;
            margin: 70px 0% 70px 20%;

            @media screen and (max-width: 1024px) {
                height: 380px
            }

            @media screen and (max-width: 320px) {
                height: 280px
            }

            p {
                position: absolute;
                top: 80px;
                margin-left: 15px;
            }
        }

        div:nth-child(2) {
            .thumb{
                margin: 70px 20% 70px 0%;

                @media screen and (max-width: 1024px) {
                    margin: 20px 15% 120px;
                    width: 70%;
                }

                @media screen and (max-width: 320px) {
                    margin: 20px 0% 120px;
                    width: 100%;
                }
            }
        }
    }
}

.carousel-indicators li, .carousel-indicators li.active {
    width: 17px; height: 17px;
    margin: 1px 5px; 
}

.carousel-caption {
    text-align: left;
    width: 100%;
    left: 0%;
    margin: 0 auto;

    p {
        width: 50%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}

#gallery {
    margin-top: 20px;
}

.panel {
    background-color: transparent;
}

.panel-heading {
    background-color: transparentize($brand-info,.6) !important;
    color: white !important;
    padding: 0px;

    a {
        display: block;
        padding: 10px;
        
        &:hover {
            background: $brand-info;
        }
    }
}

.panel-body, .well {
    padding-bottom: 0px;
}

#insights {
    min-height: 530px;
}

#buy, #author, #insights {
    padding: 20px 0 30px;
}

#buy {
    min-height: 400px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.contact {
    margin: 0px auto 30px;
    padding: 10px 20px 20px;
    text-align: center;
    background-color: white;
    color: $brand-info;
    p {
        color: $brand-info; 
        font-size: 1.2em;
    }
}

#details {
    position: relative;
    top: 30; left: 0;
    @include transition(.3s ease-in-out opacity);
    z-index: 20;

    .note {
        max-width: 340px;
    }
}

#confirmation {
    z-index: 10;
    display: block;
    position: absolute;
    top: 60px;
    margin: 0 auto;
    padding: 20px 50px 0 20px;
    text-align: center;
    opacity: 0;
    @include transition(.3s ease-in-out opacity);

    h2 span {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
}

#signinform {
    margin-bottom: 20px !important;
}

#signoutform {
    display: none;

    h4 {
        margin: 6px 0 0 15px;
        float: left;
    }

    .btn {
        float: right;
        margin-right: 15px;
    }
}

body.signedin {
    #signinform {
        display: none;
    }

    #signoutform {
        display: block;
    }
}

.accordiontoggle {
    display: block;

    &:hover {
        text-decoration: none;
    }

    &:not([data-toggle="collapse"]) {
        cursor: default;

        &:hover {
            background: transparent;
        }
    }
}

#buy {
    .form-group {
        margin-bottom: 0px;
    }
    .small-label {
        text-align: left !important;
        font-size: 1.2em;
    }
    .small-input .input-group {
        width: 100px;

        button {
            font-weight: 900;
            font-size: 18px;
            line-height: 20px;
            color: $brand-info;
            padding: 6px 10px 6px;

            &#gMinus, &#kMinus {
                font-weight: 600;
                padding: 5px 8px 7px;
            }
        }
    }

    button {
        margin-bottom: 10px;
    }

    #steps, #check {
        @include transition(.3s ease-in-out width);
    }
    
    .ccrow {
        padding-left: 30px;

        .cvcrow {
            margin-left: 6px;
        }
    }

    #popcvc { 
        cursor: pointer;
        color: white;
        display: inline-block;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    #check ul {
        list-style: none;
        padding-left: 10px;
        border-left: 2px solid white;

        li {
        }
    }

    #choice {
        ul {
            border-left: none;
            padding-left: 0px;

            li {
                border-bottom: 1px solid white;
                padding: 2px 0;
                font-size: 1.1em;


                &.total {
                    border-bottom: 3px double white;
                    font-weight: bold;
                }
            }
        }
    }

    #submit {
        margin:10px 0 15px;
        background: #2570a5; /* Old browsers */
        background: -moz-linear-gradient(left, #2570a5 50%, #1e4e80 50%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(50%,#2570a5), color-stop(50%,#1e4e80)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #2570a5 50%,#1e4e80 50%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #2570a5 50%,#1e4e80 50%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #2570a5 50%,#1e4e80 50%); /* IE10+ */
        background: linear-gradient(to right, #2570a5 50%,#1e4e80 50%); /* W3C */
        background-size: 200% 200%;
        background-position: 100% 0%;

        .loading {
            display: none;
        }

        &.start {
            -webkit-animation: loading 3s linear forwards;

            .default {
                display: none;
            }

            .loading {
                display: inline-block;
            }
        }
    }

    label {
        font-weight: normal;
    }

    legend {
        color: $brand-info;
        margin: 15px 0 10px;
        font-size: 1em;
        font-weight: bold;
        padding: 2px 6px;
        text-transform: uppercase;
        border-bottom: none;
        background-color: white;

        &.first {
            margin-top: 0px;
        }
    }
}

.popover {
    color: $brand-info !important;
}

@-webkit-keyframes loading {
    0% { background-position: 100% 0%; };
    20% { background-position: 60% 0%; };
    50% { background-position: 40% 0%; };
    80% { background-position: 5% 0%;  };
    100% { background-position: 0% 0%; };
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}
