<div class="row contact">
    <div class="cinfo col-md-6 col-md-offset-3">
      <h2>Kontakt</h2>
      <p>Fragen oder Anregungen beantworte ich Dir gerne per E-Mail.</p>
      <p>Schreibe mir ungeniert, ich freue mich über Feedback an <a href="mailto:&#109;&#101;&#064;&#109;&#097;&#114;&#099;&#101;&#108;&#104;&#097;&#100;&#111;&#114;&#110;&#046;&#099;&#111;&#109;">me[at]marcelhadorn.com</a></p>
    </div>
  </div>