<a type="submit" class="btn btn-primary btn-process">
    <span class="default">Ausführen</span>
    <span class="loading">&nbsp;&nbsp;Bitte warten...&nbsp;&nbsp;</span>
    <span class="finished">&nbsp;&nbsp;Beendet&nbsp;&nbsp;</span>
</a>