<!--
#################################################
App: Blueprint, Author: Marcel Hadorn (@marc3llo)
#################################################
Sign Out
-->
<div id="signoutform">
	<div class="well">
		<div class="row">
			<h4 class="username"></h4> <button type="submit" id="signout" class="btn btn-primary">Signout</button>
		</div>
	</div>
</div>
{% block scripts %}
<script>
	$(document).ready(function(){
		var retrievedObject = localStorage.getItem('signin');
		var username = JSON.parse(retrievedObject);
		if(localStorage.getItem('signin')){
			// Write Username h4.username
			$('h4.username').html('Signed in as <b>'+ username.user +'</b>');
		}
	});
</script>
{% endblock %}