<div class="row">
  <div class="col-md-12 imagecont">
    <a data-toggle="cellobox" class="thumbnail">
      <p>Portrait des Autors</p>
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</div>